# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.dist-info/
.eggs/
build/
dist/

# Virtual environments
venv/
.venv/

# Environment files
#.env
.env.*

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Local TLS certs
nginx/certs/*
!nginx/certs/.gitkeep

# project development docs
docs/
#development_docs/
